@import "../varibels";
@import "../mixins";
.header {
  background-color: $topAndBottomColor;
  padding: 30px 0 0 0;
  border-radius: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: minmax(360px, 650px) minmax(250px, 370px);
  justify-content: center;
  column-gap: 80px;
  @include desktopStyles {
    column-gap: 43px;
    padding-left: 50px;
  }
  @include tabletStyles {
    justify-content: start;
    grid-template-columns: minmax(260px, 360px) 250px;
  }
  @include miniTabletStyles {
    column-gap: 0;
    justify-content: center;
    grid-template-columns: minmax(260px, 360px);
    padding: 20px 0;
  }
  &__logo {
    grid-column: 1/2;
    max-width: 40px;
    height: 40px;
    background-color: $mainColor;
    background-image: url("../../images/logo.svg");
    background-size: 30.74px, 31.66px;
    background-position: 3.19px 2.61px;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  &__title {
    grid-column: 1/2;
    margin: 60px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    @include desktopStyles {
      margin: 50px 0 0;
      font-size: calc(33px + (60 - 33) * ((100vw - 768px) / (1140 - 768)));
      line-height: calc(37px + (69 - 37) * ((100vw - 768px) / (1140 - 768)));
    }
  }
  &__subtitle {
    grid-column: 1/2;
    margin: 0;
    padding: 28px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    @include desktopStyles {
      padding: 20px 0 0;
      font-size: calc(15px + (18 - 15) * ((100vw - 768px) / (1140 - 768)));
      line-height: calc(20px + (26 - 20) * ((100vw - 768px) / (1140 - 768)));
    }
    @include miniTabletStyles {
      padding: 14px 0 0;
    }
  }
  &__button {
    grid-column: 1/2;
    max-width: 240px;
    background: $mainColor;
    border-radius: 8px;
    border: none;
    padding: 15px 0;
    margin: 108px 0 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $topAndBottomColor;
    @include desktopStyles {
      margin: 250px 0 50px;
      font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1140 - 768)));
      padding: 12px 0;
    }
    @include miniTabletStyles {
      padding: 10px 0;
      margin: 0;
    }
  }
  &__wrapper-image {
    grid-row: 1/5;
    grid-column: 2/3;
    position: relative;
    @include miniTabletStyles {
      grid-row: 4/5;
      grid-column: 1/2;
    }
  }
  &__wrapper-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 311px;
    height: 630px;
    background: url("../../images/image_logo.svg");
    background-size: contain;
    @include desktopStyles {
      top: 90px;
      width: 250px;
      height: 502px;
    }
    @include miniTabletStyles {
      position: static;
      grid-row: 3/4;
      margin: 50px 0;
    }
  }
}
